
/* colors */
$color-light-fonts: #ffffff;
$color-dark-fonts: #413d4b;
$accent-color: #00e0d0;

/* measuress */
$height-header: 55.5em;

/* mobile menu */
$bar-width: 50px;
$bar-height: 2px;
$bar-spacing: 12px;
$cubic-bezier: (.88,.27,.1,.76);
$cubic-bezier--menu: (.1,.93,1,.99);
